# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc
*.json
# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# PyInstaller
*.spec

# Virtual environments
venv/
.env/
.venv/

# macOS
.DS_Store

# IDEs
.vscode/
.idea/

# System files
Thumbs.db

*.json
.json
keylogger/keylogger.json